<hr />
<p>layout: default
title: Why Donald Trump Embraces Conspiracy Theories
description: A Deep Dive into YouTube’s Role in Amplifying Controversy and Captivating Audiences</p>
<hr />
<p align="center">
    <a href="https://postimg.cc/V5cJ5Q0t">
        <img width="600" height="350" src="https://i.postimg.cc/J7sZ6R1p/170421105103-trump-speech-thumb-3-super-tease.jpg" alt="Carbonada Image">
    </a>
</p>

<!-- [![ada-group-project-spaghetti-carbonada.png](https://i.postimg.cc/jdpBkQLG/ada-group-project-spaghetti-carbonada.png)](https://postimg.cc/dL9WhCRB) -->

<h1>About YouNiverse</h1>
<p>YouNiverse is a comprehensive dataset covering metadata from over 136,000 YouTube channels, 72.9 million videos, and 8.6 billion comments, offering valuable insights into platform dynamics, content trends, and user interactions.<a href="https://github.com/epfl-dlab/YouNiverse/tree/master">Link</a></p>
<h1>Framing our research</h1>
<p>This study aims to explore the impact of the conspiracy theories proposed by Donald Trump on YouTube. Analyzing millions of videos, we reveal that conspiracy content drives higher engagement and trace how these narratives spread, often amplified by both mainstream and alternative channels. Our findings highlight how conspiracy theories become powerful tools for emotional engagement, illustrating YouTube’s role in amplifying political influence.</p>
<h1>What are we looking for? Research question</h1>
<ol>
<li>How did Trump use conspiracy theories to gain attention on YouTube? What is the trajectory of the dissemination of conspiracy theory-related content?</li>
<li>Do videos containing conspiracy theory content attract greater attention (e.g., likes, dislikes, views) compared to videos without conspiracy theory keywords?</li>
<li>Is there the trend of channels creating Trump-related videos with an entertainment focus generates higher view counts? And what are the subscription differences before and after a video publishing?</li>
<li>How do the presence of conspiracy theory keywords in the title or tags and whether the video belongs to the entertainment category interactively influence the number of likes a video receives?</li>
</ol>
<h1>Initial exploration: what data do we have?</h1>
<p>We have a dataset of 136,000 YouTube channels, 72.9 million videos, and 8.6 billion comments, offering valuable insights into platform dynamics, content trends, and user interactions.We filtered the data to include only videos related to Donald Trump. We split the data into two parts: with and without conspiracy theory keywords.</p>
<h3>Proportion of conspiracy theory videos in different categories</h3>
<p>(task1)</p>
<h3>Tracing the Sequential Pathways of Trump-Related Conspiracy Theories on YouTube</h3>
<h3>1. 阴谋论分布图</h3>
<p>{% include 3.1conspiracy_theory_distribution.html %}</p>
<h3>2. 每月阴谋论视频数量</h3>
<p>{% include 3.2monthly_conspiracy_video_counts.html %}</p>
<h3>3. 阴谋论主题频率</h3>
<p>{% include 3.3conspiracy_themes_frequency.html %}</p>
<h3>4. 标准化每日阴谋论视频数量</h3>
<p>{% include 3.4normalized_daily_conspiracy_video_counts.html %}</p>
<h3>5. 阴谋论类别交叉关联</h3>
<p>{% include 3.5cross_correlation_conspiracy_categories.html %}</p>